* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(246, 244, 244);
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/****HEADER****/
header{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
  background-color: white;
  margin-bottom: 1rem;
}

.logo{
    color:#fe713b;
    font-size: 1.5rem;
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
}

#logo{
    display: flex;
    align-items: center;
}

header img{
    width: 50px;
}

#nav a{
    color: #fe713b;
    margin-left: 20px;
}

#nav a:hover{
    color:#c74f1f;
}




.photo {
    width: 200px;
}



/***FOOTER****/
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-top: 1rem;
    padding: 1.5rem;
    color:#fe713b;
}