* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    font-family: Montserrat;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.photo {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.photo.zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.5);
    z-index: 9999;
    transition: transform 0.3s ease;
}


