* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/****HEADER****/
header{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
  background-color: rgb(240, 238, 238);
  margin-bottom: 1rem;
}

.logo{
    color:pink;
    font-size: 1.5rem;
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header img{
    width: 50px;
}

#nav a{
    color: orange;
    margin-left: 20px;
}

header a:hover{
    color:orangered;
}

/****PHOTO ZOOM****/
.photo {
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.photo.zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.5);
    z-index: 9999;
    transition: transform 0.3s ease;
}

/***FOOTER****/
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(240, 238, 238);
    margin-top: 1rem;
    padding: 1.5rem;
    color: pink;
}

footer a{
  color: pink;
}

footer a:hover{
    color:palevioletred;
}
